@charset "utf-8";
*{margin:0px; padding: 0px; box-sizing: border-box; font-family:'SUIT-Regular';}
ul,ol,li{list-style: none; color:#222;}
a{text-decoration: none; color:#222;}
html{font-size: 62.5%;}
button{background:none; border:none; cursor: pointer;}
h1,h2,h3,h4,h5,h6{font-family:'AppleSDGothicNeo','Noto Sans KR',sans-serif;}

@font-face {
    font-family: 'AppleSDGothicNeo';
    font-style: normal;
    font-weight: 400;
    src:url('font/AppleSDGothicNeoR.woff') format('woff'),
    url('font/AppleSDGothicNeoR.ttf') format('opentype');
 }

@font-face {
    font-family: 'SUIT-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    }