@charset "utf-8";

@font-face {
    font-family: 'SUIT-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
 }

 @font-face {
    font-family: 'AppleSDGothicNeo';
    font-style: normal;
    font-weight: 400;
    src:url('font/AppleSDGothicNeoR.woff') format('woff'),
    url('font/AppleSDGothicNeoR.ttf') format('opentype');
 }

html{
    font-size:62.5%;
}
*{
    margin:0; padding:0;
    font-family: 'SUIT-Regular';
    box-sizing: border-box;
    color:#222;
}
ul,li{
   list-style:none;
}
button{
    background:none;
    border:none;
    cursor: pointer;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'AppleSDGothicNeo', 'Noto Sans KR', sans-serif;
}

@media(max-width:500px){
    /* 서브1*/
#header2{
    width:100%; height:50px;
    background:#7e3fb0;
    position: absolute; z-index:3;
    top:65px;
}
#header2 a{
    display:block;
    cursor: pointer;
    color:white;
}
#header2>ul{
    display: flex;
    justify-content: center;
}
#header2>ul>li{
    width:33.3333%;
    color:white;
    font-size:1.3rem;
    text-align:center;
    position: relative;
    line-height:50px;
    cursor: pointer;

}
#header2>ul ul{
    position: absolute;
    width:100%;
    display:none;
}
#header2>ul>li:nth-of-type(1){
    background:#7e3fb0;
}
#header2>ul>li:nth-of-type(1) span{
    background:#7e3fb0;
}
#header2>ul>li:nth-of-type(2),
#header2>ul>li:nth-of-type(2) ul{
    background:#6c3596;
}
#header2>ul>li:nth-of-type(2) span{
    background:#6c3596;
}
#header2>ul>li:nth-of-type(3),
#header2>ul>li:nth-of-type(3) ul{
    background:#5d2e81;
}
#header2>ul>li li{
    border-top:1px solid #7e3fb0;;
}
#header2 span{
    width:35px; height:35px;
    display:block;
    transform:rotate(45deg);
    position: absolute; z-index:2;
    right:-17px; top:6px;
}

#header2 strong{
    color:white;
    font-weight: lighter;
}
#header2 b{
    display:block;
    position: absolute; z-index:3;
    top:0;
    color: #977dac;
    font-weight: lighter;
    width:10px;
}
#header2>ul>li:nth-of-type(2) b{
 right:-5px;
}
#header2>ul>li:nth-of-type(3) b{
transform:rotate(90deg);
right:20px; 
}




#contain_sub1-1{
    width:100%; margin:60px auto 0 auto;
    padding-top:100px;
    position:relative;
}
h2{
    font-size:2.5rem;
    text-align:center;
}
h3{
    font-size:1.4rem;
    color:#666666;
    text-align:center;
    margin-top:5px;
}

/* 좌우버튼 */
.prev_next{
    width:100%; position:absolute;
    display:flex; justify-content: space-between;}
.prev_next button{
    width:50px; height:50px;
    line-height:50px;
    color:#bbb;
    margin-top: 210px;
    position:relative;
}
.prev_next button span{
    display:none;
}
.prev span{
    left:-1px;
}
.next span{
    right:-1px;
}
/* 제품여러개 나열*/
.contain_in {
    overflow: hidden;
    text-align:center;
    width:100%; margin:0 auto;
}

.contain_in .slide{
    width:300%;
}
.contain_in .slide>li{
    width:33.333%; height: auto;
    float:left;
}
.contain_in .slide>li:not(:nth-of-type(1)){
    display:none;
}

/* 제품 이미지 */
.contain_in .product{
    overflow:hidden;
    width:330px; height:400px; margin:0 auto;
}
.contain_in .product>img{
    height:100%;
}

/* 제품색 변경 버튼 */
.color_btn{
    width:100%; display:flex;
    justify-content:center;
    margin:30px 0;
}
.color_btn button{
    width:25px; height:25px;
    border-radius: 100%;
    margin:0 5px;
}
.gray_btn{
    background:#bbb;
}
.begie_btn{
    background:#CBB8A9;
}
.lightpurple_btn{
    background:#A5A8D5;
}
.lightgreen_btn{
    background:#AED9AE;
}
.purple_btn{
    background:#422E91;
}
.green_btn{
    background:#016259;
}
.brown_btn{
    background:#503B1C;
}
.sunsetred_btn{
    background:#a05a65
}
.mossgreen_btn{
    background:#42797c
}
.mossblue_btn{
    background:#1676a9
}
.honeyyellow_btn{
    background:#f4ed8f;
}
.florapurple_btn{
    background:#b8b8dc
}
/* 제품정보 테이블 */
.contain_in table{
    text-align:left;
    width:90%; margin:0 auto;
    background:#f8f8f8;
    padding:20px;
    border-radius:20px;
    font-size:1.3rem;
 }

table tr:nth-of-type(2) td{
    position: relative;
}
table th{
    font-weight:bold;
    border-bottom:1px solid #d9d9d9;
    padding:5px 0 ;
    width:20%;
    vertical-align: top;
}
table tr td:nth-of-type(2){
    width:3%;
}
table tr td:last-of-type{
    line-height:3rem;
    width:77%;
    border-bottom:1px solid #d9d9d9;
}
table tr:nth-last-of-type(1) th,
table tr:nth-last-of-type(1) td{
    border:none;
}



/* 닙이미지 */
table tr:nth-of-type(2) td .nib_open{
    float:right;
    line-height:3rem;
}
table tr:nth-of-type(2) td .nib{
    position: absolute;
    top:0; right:0;
    display:none;
}
table tr:nth-of-type(2) td .nib_close{
    font-size:2rem; line-height:2rem;
    color:#c2c2c2;
    position: absolute;
    padding:18px 20px;
}


/* 쇼핑몰바로가기버튼 */
.contain_in .btn1{
    width:65%;
    padding:18px 0;
    background:#c40f39;
    font-size:1.5rem;
    border-radius:30px;
    margin-top:50px;
    color:white;
}
.contain_in .btn1:nth-of-type(2){
    display:none;
}

/* 제품디테일이미지 */
.detail{
    padding-top:15px;
    width:90%; margin:0 auto;
}
.detail img{width:100%;}

/*다른제품보기*/
.more{
    width:90%; margin:100px auto 0 auto;
}

.more .title{
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.more .title h4{
    text-align:center;
    font-size:1.3rem;
    cursor: pointer;
    border-radius:50px;
    background:#f8f8f8;
    width:24%; height:30px; line-height:30px;
    margin-bottom:20px;
    font-weight: 500;
}
.more .title h4:nth-of-type(1){
    background:#c40f39;
    color:white;
    font-weight:600;
}

.more>ul:not(:nth-of-type(1)){
    display:none;
}
.more ul{
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.more ul li{
    width:100%;
    margin-bottom:30px;
}

.more ul li:nth-of-type(n+4){
    display:none;
}
.more a{
    display:block;
}
.more .img_box{
    width:100%; height:250px;
    overflow: hidden;
    border-radius:10px;
    position: relative;
}
.more img{
    width:100%;
    position: absolute;
    top:50%;
    transform: translateY(-50%);
}
.more .infor{
    width:100%;
    text-align:center;
}
.more .infor i{
    display:none;
}
.more .infor h5{
    font-size:2rem;
    margin:20px 0 5px 0;
}
.more .infor p{
    font-size:1.4rem;
}

}
@media(min-width:501px) and (max-width:1399px){
#header2{
    display:none;
}
        /* 서브1-1*/
#contain_sub1-1{
    width:90%; margin:40px auto 0 auto;
    padding-top:100px;
    position:relative;
}
h2{
    font-size:2.5rem;
    text-align:center;
}
h3{
    font-size:1.4rem;
    color:#666666;
    text-align:center;
    margin-top:5px;
}

/* 좌우버튼 */
.prev_next{
    width:100%; margin:0 auto; position:absolute;
    display:flex; justify-content: space-between;
}
.prev_next button{
    width:50px; height:50px;
    line-height:50px;
    border-radius: 50px;
    border:1px solid #bbb;
    color:#bbb;
    margin-top: 230px;
    position:relative;
}
.prev_next button span{
    position:absolute;
    width:270%; top:50%; transform: translateY(-50%);
    border:1px solid #bbb;
    border-radius: 50px;
    opacity:0;
    background:white;
}
.prev span{
    left:-1px;
}
.next span{
    right:-1px;
}
/* 제품여러개 나열*/
.contain_in {
    overflow: hidden;
    text-align:center;
    width:100%; margin:0 auto;
}

.contain_in .slide{
    width:300%;
}
.contain_in .slide>li{
    width:33.333%; height: auto;
    float:left;
}
.contain_in .slide>li:not(:nth-of-type(1)){
    display:none;
}

/* 제품 이미지 */
.contain_in .product{
    overflow:hidden;
    width:330px; height:400px; margin:0 auto;
}
.contain_in .product>img{
    height:100%;
}

/* 제품색 변경 버튼 */
.color_btn{
    width:100%; display:flex;
    justify-content:center;
    margin:30px 0;
}
.color_btn button{
    width:25px; height:25px;
    border-radius: 100%;
    margin:0 5px;
}
.gray_btn{
    background:#bbb;
}
.begie_btn{
    background:#CBB8A9;
}
.lightpurple_btn{
    background:#A5A8D5;
}
.lightgreen_btn{
    background:#AED9AE;
}
.purple_btn{
    background:#422E91;
}
.green_btn{
    background:#016259;
}
.brown_btn{
    background:#503B1C;
}
.sunsetred_btn{
    background:#a05a65
}
.mossgreen_btn{
    background:#42797c
}
.mossblue_btn{
    background:#1676a9
}
.honeyyellow_btn{
    background:#f4ed8f;
}
.florapurple_btn{
    background:#b8b8dc
}
/* 제품정보 테이블 */
.contain_in table{
    text-align:left;
    width:90%; margin:0 auto;
    background:#f8f8f8;
    padding:20px;
    border-radius:20px;
    font-size:1.3rem;
 }

table tr:nth-of-type(2) td{
    position: relative;
}
table th{
    font-weight:bold;
    border-bottom:1px solid #d9d9d9;
    padding:5px 0 ;
    width:20%;
    vertical-align: top;
}
table tr td:nth-of-type(2){
    width:3%;
}
table tr td:last-of-type{
    line-height:3rem;
    width:77%;
    border-bottom:1px solid #d9d9d9;
}
table tr:nth-last-of-type(1) th,
table tr:nth-last-of-type(1) td{
    border:none;
}



/* 닙이미지 */
table tr:nth-of-type(2) td .nib_open{
    float:right;
    line-height:3rem;
}
table tr:nth-of-type(2) td .nib{
    position: absolute;
    top:0; right:0;
    display:none;
}
table tr:nth-of-type(2) td .nib_close{
    font-size:2rem; line-height:2rem;
    color:#c2c2c2;
    position: absolute;
    padding:18px 20px;
}


/* 쇼핑몰바로가기버튼 */
.contain_in .btn1{
    padding: 15px 40px;
    background:#c40f39;
    font-size:2rem;
    border-radius:50px;
    margin:150px 0 30px 0;
    color:white;
}

/* 제품디테일이미지 */
.detail{
    padding-top:15px;
    width:90%; margin:0 auto;
}
.detail img{
    max-width:800px;
    width:100%;
}

/*다른제품보기*/
.more{
    width:100%; margin:100px auto 0 auto;
}

.more .title{
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.more .title h4{
    text-align:center;
    font-size:1.5rem;
    cursor: pointer;
    border-radius:50px;
    background:#f8f8f8;
    width:24%; height:50px; line-height:50px;
    margin-bottom:20px;
    font-weight: 500;
}
.more .title h4:nth-of-type(1){
    background:#c40f39;
    color:white;
    font-weight:600;
}

.more>ul:not(:nth-of-type(1)){
    display:none;
}
.more ul{
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.more ul li{
    width:47%;
    margin-bottom:30px;
}

.more ul li:nth-of-type(n+5){
    display:none;
}
.more a{
    display:block;
}
.more .img_box{
    width:100%; min-height:150px;
    overflow: hidden;
    border-radius:10px;
    position: relative;
}
.more img{
    width:100%;
    position: absolute;
    top:50%;
    transform: translateY(-50%);
}
.more .infor{
    width:100%;
    text-align:center;
}
.more .infor i{
    display:none;
}
.more .infor h5{
    font-size:2rem;
    margin:20px 0 5px 0;
}
.more .infor p{
    font-size:1.4rem;
}

}
@media(min-width:1400px){
#header2{
    display:none;
}
    /* 서브1-1*/
#contain_sub1-1{
    width:1400px; margin:65px auto 0 auto;
    padding-top:100px;
    position:relative;
}
h2{
    font-size:4rem;
    text-align:center;
}
h3{
    font-size:2rem;
    color:#666666;
    text-align:center;
    margin-top:5px;
}

/* 좌우버튼 */
.prev_next{
    width:100%; position:absolute;
    display:flex; justify-content: space-between;}
.prev_next button{
    width:50px; height:50px;
    line-height:50px;
    border-radius: 50px;
    border:1px solid #bbb;
    color:#bbb;
    margin-top: 350px;
    position:relative;
}
.prev_next button span{
    position:absolute;
    width:270%; top:50%; transform: translateY(-50%);
    border:1px solid #bbb;
    border-radius: 50px;
    opacity:0;
    background:white;
}
.prev span{
    left:-1px;
}
.next span{
    right:-1px;
}
/* 제품여러개 나열*/
.contain_in {
    overflow: hidden;
    text-align:center;
    width:1100px; margin:0 auto;
}

.contain_in .slide{

    width:300%;

}
.contain_in .slide>li{
    width:33.333%; height: auto;
    float:left;
}
.contain_in .slide>li:not(:nth-of-type(1)){
    display:none;
}

/* 제품 이미지 */
.contain_in .product{
    overflow:hidden;
    width:440px; height:550px; margin:0 auto;
}
.contain_in .product>img{
    width:90%;
}

/* 제품색 변경 버튼 */
.color_btn{
    width:100%; display:flex;
    justify-content:center;
    margin:50px 0;
}
.color_btn button{
    width:25px; height:25px;
    border-radius: 100%;
    margin:0 5px;
}
.gray_btn{
    background:#bbb;
}
.begie_btn{
    background:#CBB8A9;
}
.lightpurple_btn{
    background:#A5A8D5;
}
.lightgreen_btn{
    background:#AED9AE;
}
.purple_btn{
    background:#422E91;
}
.green_btn{
    background:#016259;
}
.brown_btn{
    background:#503B1C;
}
.sunsetred_btn{
    background:#a05a65
}
.mossgreen_btn{
    background:#42797c
}
.mossblue_btn{
    background:#1676a9
}
.honeyyellow_btn{
    background:#f4ed8f;
}
.florapurple_btn{
    background:#b8b8dc
}
/* 제품정보 테이블 */
.contain_in table{
    text-align:left;
    width:100%;
 }
table tr:nth-of-type(1) th,
table tr:nth-of-type(1) td:nth-of-type(2){
    border-top:3px solid black;
}
table tr:nth-of-type(2) td{
    position: relative;
}
table th{
    font-weight:bold;
    font-size:2rem;
    border-bottom:1px solid #d9d9d9;
    padding:15px 0 ;
    width:20%;
    vertical-align: top;
}
table tr td:nth-of-type(2){
    width:3%;
}
table tr td:last-of-type{
    font-size:1.6rem;
    line-height:3rem;
    width:77%;
    border-bottom:1px solid #d9d9d9;
}
table tr:nth-last-of-type(1) th,
table tr:nth-last-of-type(1) td{
    border:none;
}



/* 닙이미지 */
table tr:nth-of-type(2) td .nib_open{
    float:right;
    margin-right:60px;
    font-size:1.6rem;
    line-height:3rem;
}
table tr:nth-of-type(2) td .nib{
    position: absolute;
    top:0; right:0;
    display:none;
}
table tr:nth-of-type(2) td .nib_close{
    font-size:2rem; line-height:2rem;
    color:#c2c2c2;
    position: absolute;
    padding:18px 20px;
}


/* 쇼핑몰바로가기버튼 */
.contain_in .btn1{
    padding: 15px 40px;
    background:#c40f39;
    font-size:2rem;
    border-radius:50px;
    margin:200px 0 50px 0;
    color:white;
}


/* 제품디테일이미지 */
.detail{
    border-top:3px solid black;
    padding-top:15px;
}


/*다른제품보기*/
.more{
    width:1100px; height:800px; margin:100px auto 0 auto;
}
.more .title{
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.more .title h4{
    text-align:center;
    font-size:1.5rem;
    cursor: pointer;
    width:25%; height:50px; line-height:50px;
}
.more .title h4:nth-of-type(1){
    background:#c40f39;
    color:white;
}
.more>ul:not(:nth-of-type(1)){
    display:none;
}
.more ul{
    display:flex;
    flex-wrap: wrap;
}
.more ul li{
    width:33.33333%;
    height:260px;
    overflow:hidden;
    float:left;
    position:relative;
}
.more>li:not(:nth-of-type(1)) ul{
    display:none;
}
.more a{
    display:block;
}
.more .img_box{
    width:100%;
    position: relative;
}
.more img{
    width:100%; 
    overflow: hidden;
    position: relative;
}

.more .infor{
    position:absolute; z-index:2;
    width:100%;
    bottom:0px;
    padding:40px;
    display:none;
}
.more .infor i{
    font-size:1.5rem;
    text-align:center;
    width:30px; height:30px;
    padding:6.3px 0 0 0;
    border:1.5px solid white;
    border-radius: 100%;
    transform:rotate(-30deg);
    color:white;
}
.more .infor h5{
    font-size:2rem;
    color:white;
    margin:20px 0 5px 0;
}
.more .infor p{
    font-size:1.4rem;
    color:white;
}
.more span{
    width:100%; height:100%; z-index:1;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    cursor: pointer;
}
}
